IO_LOC  "clk" 52;
IO_PORT "clk" PULL_MODE=UP;

IO_LOC  "led[0]" 10;

IO_LOC  "led[1]" 11;

IO_LOC  "led[2]" 13;

IO_LOC  "led[3]" 14;

IO_LOC  "led[4]" 15;

IO_LOC  "led[5]" 16;

IO_LOC  "btn1" 3;

IO_LOC  "uart_tx" 17;
IO_PORT "uart_tx" IO_TYPE=LVCMOS33;

IO_LOC  "uart_rx" 18;
IO_PORT "uart_rx" IO_TYPE=LVCMOS33;

IO_LOC  "pwma" 51;
IO_PORT "pwma" IO_TYPE=LVCMOS33;

IO_LOC  "ain1" 54;
IO_PORT "ain1" IO_TYPE=LVCMOS33;

IO_LOC  "ain2" 53;
IO_PORT "ain2" IO_TYPE=LVCMOS33;

IO_LOC  "pwmb" 55;
IO_PORT "pwmb" IO_TYPE=LVCMOS33;

IO_LOC  "bin1" 56;
IO_PORT "bin1" IO_TYPE=LVCMOS33;

IO_LOC  "bin2" 57;
IO_PORT "bin2" IO_TYPE=LVCMOS33;

IO_LOC  "stby" 68;
IO_PORT "stby" IO_TYPE=LVCMOS33;
