IO_LOC  "clk" 52;
IO_PORT "clk" PULL_MODE=UP;

IO_LOC  "led[0]" 10;

IO_LOC  "led[1]" 11;

IO_LOC  "led[2]" 13;

IO_LOC  "led[3]" 14;

IO_LOC  "led[4]" 15;

IO_LOC  "led[5]" 16;

IO_LOC  "uart_tx" 76;
IO_PORT "uart_tx" IO_TYPE=LVCMOS33;

IO_LOC  "uart_rx" 77;
IO_PORT "uart_rx" IO_TYPE=LVCMOS33;

IO_LOC  "pwma" 51;
IO_PORT "pwma" IO_TYPE=LVCMOS33;

IO_LOC  "ain1" 54;
IO_PORT "ain1" IO_TYPE=LVCMOS33;

IO_LOC  "ain2" 53;
IO_PORT "ain2" IO_TYPE=LVCMOS33;

IO_LOC  "pwmb" 55;
IO_PORT "pwmb" IO_TYPE=LVCMOS33;

IO_LOC  "bin1" 56;
IO_PORT "bin1" IO_TYPE=LVCMOS33;

IO_LOC  "bin2" 57;
IO_PORT "bin2" IO_TYPE=LVCMOS33;

IO_LOC  "stby" 68;
IO_PORT "stby" IO_TYPE=LVCMOS33;

IO_LOC  "btn1" 3;
IO_PORT "btn1" IO_TYPE=LVCMOS18;

IO_LOC  "btn2" 4;
IO_PORT "btn2" IO_TYPE=LVCMOS18;

IO_LOC  "s[0]" 29;
IO_PORT "s[0]" IO_TYPE=LVCMOS33;

IO_LOC  "s[1]" 30;
IO_PORT "s[1]" IO_TYPE=LVCMOS33;

IO_LOC  "s[2]" 33;
IO_PORT "s[2]" IO_TYPE=LVCMOS33;

IO_LOC  "s[3]" 34;
IO_PORT "s[3]" IO_TYPE=LVCMOS33;

IO_LOC  "s[4]" 48;
IO_PORT "s[4]" IO_TYPE=LVCMOS33;

IO_LOC  "s[5]" 49;
IO_PORT "s[5]" IO_TYPE=LVCMOS33;

IO_LOC  "s[6]" 31;
IO_PORT "s[6]" IO_TYPE=LVCMOS33;

IO_LOC  "s[7]" 32;
IO_PORT "s[7]" IO_TYPE=LVCMOS33;
